/*
The final project will be either a website for a portfolio, a story, or on a
subject you care deeply about. This assignment will be broken up into smaller
segments:

Deploying a website (50 Points)

Design/Responsiveness (50 Points)

Plugins (50 Points) EC

Posting and formatting content Your grade will be based on the following
parameters:

Creativity (50 Points)
Making sure your images and content express the intent of your site
Change the theme you chose
Use plugins, colors, and fonts, to change the theme
Design and layout (project is professional in appearance)

Minimum of 5 posts/pages (100 Points)

Make sure that images are properly scaled and fit in your layout

Content quality – Clear message (what are you saying)

Remember to also put Google analytics on your site (25 POINTS)
*/

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  padding: 10px;
  background-color: black;
}

ul {
  list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   font-family: 'Roboto', sans-serif;
}

li {
  float: left;
  padding: 10px;
}

li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

li a:hover{
  font-size: larger;
}

header {
  grid-area: header;
}

main {
    grid-area: main;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
    padding-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  align-items: stretch;

}

.bigger{
  width: 200%;
  height: 100%;
}

h1 {
  font-family: UnifrakturMaguntia;
  font-size: 180px;
  color: white;
  text-align: center;
}

h2 {
  font-family: Pirata One;
  font-size: 100px;
  color: white;
  text-align: center;
}

h3 {
  font-family: Pirata One;
  font-size: 75px;
  color: white;
  text-align: left;
  text-decoration: underline;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: white;
  padding: 10px;
  text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.container{
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  display: grid;
}

.box{
  margin-top: 20px;
  margin-bottom: 20px;
}

.container2 {
  position: relative;
  width: 100%;
}

.image {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: pink;
}

.container2:hover .overlay {
  opacity: 1;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
